:root{
    /* background */
    --bgc-main: #ffffff;
    --bgc-hero-footer: #2E2F42;
    --bgc-order-service: #4D5AE5;
    --bgc-team: #F4F4FD;
    --bgc-btn-cat: #F4F4FD;
    --bgc-btn-active: #404BBF;

    /* font-colors */
    --font-main: #434455;
    --font-logo: #4D5AE5;
    --font-nav: #2E2F42;
    --font-logo-head: #2E2F42;
    --font-logo-foot: #F4F4FD;
    --font-white: #FFFFFF;
    --font-btn-cat: #4D5AE5;

    --border-color:#E7E9FC;
    --portfolio-marking: 3;
}
/**
  |============================
  | Base classes
  |============================
*/
body{
    background-color: var(--bgc-main);
    color: var(--font-main);
    font-family: 'Roboto', sans-serif;
}
.list {
    margin: 0;
    padding: 0;;
    list-style-type: none;
}

.site-links{
    padding: 0;
    display: inherit;
    margin-left: 76px;
}
.link{
    text-decoration: none;
}

.button {
    cursor: pointer;
    border-radius: 4px;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.img-block{
    display: block;
}

/**
  |============================
  | HEADER (navigations)
  |============================
*/

.header {
    border-bottom: 1px solid var(--border-color);
}
.head-cont{
    display: flex;
}
.navigation{
    display: inherit;
    align-items: center;
}
.site-link:not(:last-child){
    margin-right: 40px;
}

.site-nav {
    display: block;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--font-nav);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.site-nav:hover, .site-nav:focus{
    color: var(--bgc-btn-active);
}

.our-contacts{
    padding: 0;
    display: flex;
}

.link-cont{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--font-main);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
}

.link-cont:hover, .link-cont:focus{
    color: var(--bgc-btn-active);
}

/**
  |============================
  | MAIN (sections)
  |============================
*/
/* hero */
.hero{
    text-align: center;
    background-color: var(--bgc-hero-footer);
    padding-top: 188px;
    padding-bottom: 188px;

}
.hero-title{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--font-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
}

.order-service{
    margin: 0;
    padding: 16px 32px;
    margin-top: 48px;
    color: var(--font-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--bgc-order-service);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.order-service:hover,
.order-service:focus{
    background: var(--bgc-btn-active);
}

/* sections */
.section{
    padding-top: 120px;
}
.section-doing{
    padding-bottom: 120px;
}

.section-title{
    text-align: center;
    color: var(--font-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 0 72px 0;
}
.qalities {
    display: flex;
    padding: 0;
    margin: 0;
}

.qality {
    width: 264px;
    margin: 0;
    padding: 0;
    margin-right: 24px;
}
.qality:last-child{
    margin-right: 0;
}
.qality-title{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-nav);
}
.text-qalities{
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Doing */
.doing{
    display: flex;
}
.doing-list:not(:last-child){
    margin-right: 24px;
}

/* Members */
.team {
    padding: 120px 0;
    background-color: var(--bgc-team);
}

.team-list{
    display: flex;
}

.member {
    margin-right: 24px;
    background-color: var(--font-white);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}
.member:last-child{
    margin-right: 0;
}


.member-con{
    padding: 32px 16px;

}

.member-title {
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 8px;
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-nav);
}

.member-desc {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin: 0;
}

/**
  |============================
  | LOGO
  |============================
*/
.logo{
    display: block;    
    padding: 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--font-logo);
}
.logo-head{
    color: var(--font-logo-head);
}
.logo-foot{
    color: var(--font-logo-foot);
}

/**
  |============================
  | FOOTER
  |============================
*/

.foot {
    padding: 100px 0 100px 0;
    background-color: var(--bgc-hero-footer);
}

.foot-text{
    margin: 16px 0 0 0;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--font-logo-foot);
}


/* FOR Hiden */
.hide {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--font-nav);
    height: 0px;
    margin: 0;
    padding: 0;
    visibility: hidden;
}


/**
  |============================
  | PORTFOLIO PAGE
  |============================
*/

.filters{
    padding: 0;
    margin: 0;
    padding-top: 96px;
    padding-bottom: 120px;
}

.applications{
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -48px;
}
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-item:not(:last-child){
    margin-right: 24px;
}
.filter-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--font-btn-cat);
    background: var(--bgc-btn-cat);
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--border-color);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: var(--font-white);
    background: var(--bgc-btn-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.app-cont{
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.app-title {
    color: var(--font-nav);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 32px 0 0 16px;
    letter-spacing: 0.02em;
    margin: 0;
}

.app-text {
    color: var(--font-main);
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.app-list {
    padding: 0;
    text-align: left;
    margin-left: 24px;
    margin-top: 48px;
    flex-basis: calc(100% / var(--portfolio-marking) - 24px);
}



